APP_NAME=""
APP_CONTAINER_NAME=""

# API
APP_PORT=8090

# Database
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Redis
REDIS_PASSWORD=

# Langflow
#LANGFLOW_CONFIG_DIR='./langflow'
#LANGFLOW_BASE_URL='./.langflow-data'
LANGFLOW_VERSION=1.4.2
DO_NOT_TRACK=true
LANGFLOW_STORE=false
LANGFLOW_UPDATE_STARTER_PROJECTS=false
LANGFLOW_WORKERS=1

# Langfuse
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

# Prometheus
LANGFLOW_PROMETHEUS_PORT=9090
LANGFLOW_PROMETHEUS_ENABLED=true

# Langflow superuser
LANGFLOW_AUTO_LOGIN=false
LANGFLOW_SUPERUSER=
LANGFLOW_SUPERUSER_PASSWORD=
LANGFLOW_SECRET_KEY=

# Langflow redis
LANGFLOW_REDIS_HOST=redis
LANGFLOW_REDIS_PORT=6379
LANGFLOW_REDIS_PASSWORD=
LANGFLOW_CACHE_TYPE=redis